table, th, td {
    border: 1px solid black;
  }
  .company-list, .form-group{
    text-align: center
  }
  .table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.pagniationdiv ul > li
{
   display:inline-block;
   padding:0px 10px;
}