<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <!-- <a routerLink="/tableList">Dashboard</a> -->
</nav>
<router-outlet></router-outlet>


<br>

<div class="form-group">
  <label><b>PageSize</b></label>
  <input type="text" id="inputName" [(ngModel)]="inputName" /><br>
  <br>
  <input type="button" (click)="FilterByName()" value="Apply" />
</div>
<div class="company-list">
  <!-- Default panel contents -->
  <br> <br/> <br/>
  <div class=''><b>Company List</b></div>
  <br>
  <div class='panel-body'>
    <table class="table ">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>date_entry</th>
        <th>org_numphone</th>
        <th>city</th>
        <th>pin</th>

      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.email}}</td>
          <td>{{item.company}}</td>
          <td>{{item.date_entry}}</td>
          <td>{{item.org_numphone}}</td>
          <td>{{item.city}}</td>
          <td>{{item.pin}}</td>

        </tr>
      </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
        <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
      </div>
      <div class="pagniationdiv">
        <ul class="pagination">
          <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}"><a (click)="prevPage()" href="#">Prev</a></li>
          <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
            <a (click)="setPage(page)" href="#">{{page}}</a>
          </li>
          <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}"><a (click)="nextPage()" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>